@import '_var.less';
@import '_mixin.less';

body {
  background-color: @color-primary;
  color: #fff;
}
.ui-content {
  box-sizing: border-box;
  width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
}
